<html>
    <head>
        <title>Kale</title>
        <link rel="stylesheet" type="text/css" href="css/create.css">
        <script src="js/index.js" defer></script>
    </head>

    <body>
        <header>
            <a href="/">
                <h1 class="logo">Kale</h1>
            </a>
            <div class="links">
                <a href="#">View your Cabbages</a>
                <a href="#">View your Cabbages</a>
            </div>
        </header>
    </body>
</html>
