<html>
    <head>
        <title>Kale</title>
        <link rel="stylesheet" type="text/css" href="css/create.css">
        <script src="js/index.js" defer></script>
    </head>

    <body>
        <h1 class="logo">Kale</h1>
        <div class="buttons">
          <button>Create a Cabbage</button>
          <button>View your Greens</button>
        </div>
    </body>
</html>
