<html>
    <head>
        <title>Kale</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/index.js" defer></script>
    </head>

    <body>
        <h1 class="logo">Kale</h1>
        <div class="buttons">
          <a href="/create"><button>Create a Cabbage</button></a>
          <a href="#"><button>View your Greens</button><a>
        </div>
    </body>
</html>
